body {
  margin: 0;
  background: rgb(242,240,240);
  background: linear-gradient(0deg, rgba(242,240,240,1) 31%, rgba(255,255,255,1) 66%);
}

.page {
width: 1000px;
margin: 65px auto 0px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

#logo {
  width: 65px;
  height: 65px;

  cursor: pointer;
  
}

a{
  text-decoration: none;
  color: black;
}

ul {
  list-style: none;
  display: flex;
  gap: 48px;
  margin: 0;
  padding: 0;
}

ul li a {
  font-family: "Open Sans", bold;
  font-size: 17px;
  transition: font-size 0.5s ease;
}

ul li a:hover {
  font-size: 18px;
  color: #0202d7;
  font-weight: bold;
}

h1, ul {
  font-family: "Poppins", bold;
}

h1 {
  font-size: 60px;
  line-height: 50px;
}

h1 strong {
  background-image: linear-gradient(to bottom, rgb(3, 3, 255), rgb(2, 2, 130));
  color: black;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

p{
  font-family: "Poppins", medium;
  font-size: 14px;  
}

button {
  font-family: 'Open Sans', bold;
  font-size: 15px;
  color: rgb(255, 255, 255);

  padding: 14px 32px 15px;
  border: none;
  border-radius: 18px;
  cursor: pointer;

  display: flex;
  align-items: center;
  justify-content: center;
  gap: 10px;
 
  background-color: #0000ff;
}

button:hover {
  background-color: #0404e3; 
}

#contato {
  width: 20px;
  height: 20px;

  display: flex;
  align-items: center;
}

main {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 10px;

  margin-top: 40px 0;
}

main img {
  width: 600px;
  height: 600px;
}

footer {
  font-family: 'Open Sans', medium;
  font-size: 14px;
  line-height: 28px;

  text-align: center;
  margin-top: 80px;
}
